<div class="div" *ngIf="this.cardsData.length">
  <div class="card-group">
    <div *ngFor="let cardData of cardsData">
      <div class="card">
        <div>
          <div class="saldo">Mi saldo</div>
          <div class="monto">$ {{ cardData.balance }}</div>
        </div>
        <div class="logo">
          <img
            src="https://res.cloudinary.com/dylweuvjp/image/upload/v1691016700/bn4awtnkgrbr1mqelhp4.png"
            alt="Visa"
          />
        </div>
        <div class="chip">
          <img
            src="https://res.cloudinary.com/dylweuvjp/image/upload/v1691016805/rxsibhtu4g47i4uwmbr3.png"
            alt="chip"
          />
        </div>
        <div class="number"></div>
        <div class="name">{{ cardData.cardHolderName }}</div>
        <div class="validate">
          <div class="from">Valida hasta</div>
          <div class="to">{{ cardData.expirationDate | date : "MM/yy" }}</div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>

<div class="div div4">
  <h2>Solicitar nueva tarjeta</h2>
  <p *ngIf="!newCard">
    Tienes la posibilidad de solicitar una nueva tarjeta con el monto que
    desees. Haz click
    <a (click)="toggleNewCard()" style="cursor: pointer">aquí.</a>
  </p>

  <form (ngSubmit)="submitForm()" class="form" *ngIf="newCard">
    <label for="cardHolderName">Titular de la Tarjeta:</label>
    <input
      type="text"
      id="cardHolderName"
      name="cardHolderName"
      [(ngModel)]="newCardData.cardHolderName"
      required
      class="input"
    />

    <label for="balance">Saldo:</label>
    <input
      type="number"
      id="balance"
      name="balance"
      [(ngModel)]="newCardData.balance"
      required
      [ngModelOptions]="{ standalone: true }"
      class="input"
    />
    <button type="submit" [disabled]="isSubmitting" class="button">
      Enviar Solicitud
    </button>
  </form>
</div>
