.card {
  position: relative;
  height: 16rem;
  width: 27rem;
  border-radius: 25px;
  background: rgb(0 0 0);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(255 255 255 / 25%);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.logo img,
.chip img,
.number,
.name,
.saldo,
.monto,
.from,
.to,
.ring {
  position: absolute;

}

.span {
  margin: 0.3rem
}

.logo img {
  top: 35px;
  right: 40px;
  width: 80px;
  height: auto;
  opacity: 0.8;
}

.chip img {
  top: 120px;
  left: 40px;
  width: 50px;
  height: auto;
  opacity: 0.8;
}

.number,
.name,
.from,
.saldo,
.monto,
.to {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.number {
  left: 40px;
  bottom: 65px;
  font-family: "Nunito", sans-serif;
}

.name {
  font-size: 0.5rem;
  left: 40px;
  bottom: 35px;
}

.saldo {
  font-size: 0.8rem;
  left: 2rem;
  bottom: 13rem;
}

.monto {
  font-size: 1.5rem;
  left: 1.7rem;
  bottom: 11rem;
}

.from {
  font-size: 0.5rem;
  bottom: 35px;
  right: 110px;
}

.to {
  font-size: 0.5rem;
  bottom: 23px;
  right: 110px;
}

.card {
  position: relative;
  height: 16rem;
  width: 27rem;
  border-radius: 25px;
  background: rgb(0 0 0);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(255 255 255 / 25%);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Media Query for Small Screens (e.g., Mobile Phones) */
@media (max-width: 767px) {
  .card {
    width: 90%;
    /* Adjust as needed */
    height: 14rem;
  }

  .logo img {
    top: 25px;
    right: 25px;
    width: 60px;
  }

  .chip img {
    top: 100px;
    left: 25px;
    width: 40px;
  }

  .number {
    left: 25px;
    bottom: 50px;
    font-size: 14px;
  }

  .name {
    left: 25px;
    bottom: 20px;
  }

  .saldo {
    left: 1.5rem;
    bottom: 12rem;
  }

  .monto {
    font-size: 1rem;
    left: 1.5rem;
    bottom: 10.5rem;
  }


  .to {
    bottom: 8px;
    right: 40px;
  }

  .from {
    bottom: 20px;
    right: 40px;
  }
}

/* Media Query for Medium and Large Screens */
@media (min-width: 768px) {
  .card {
    width: 27rem;
  }

  /* Keep the rest of your original styles for medium and large screens */
}

.card {
  position: relative;
  max-width: 27rem;
  width: 100%;
  /* Asegura que la tarjeta no exceda el ancho máximo en pantallas pequeñas */
  border-radius: 25px;
  background: rgb(0 0 0);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(255 255 255 / 25%);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
