.card {
  margin-top: 2rem;
  position: relative;
  border-radius: 25px;
  background: rgb(249, 249, 249);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(255 255 255 / 25%);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 35vh;
}

.div {
  height: 20rem;
}
