<div>
  <div>
    <h2>Bienvenidos a Unicomer</h2>
  </div>
  <div>
    <app-logo></app-logo>
    <div>
      <form *ngIf="isRegisterMode">
        <!-- Formulario de Registro -->
        <div>
          <label>Nombre completo</label>
          <input type="text" />
        </div>
        <div>
          <label>Email</label>
          <input type="email" />
        </div>
        <div>
          <label>Tipo de documento</label>
          <select>
            <option>DNI</option>
            <option>C.I</option>
          </select>
        </div>
        <div>
          <label>Número de documento</label>
          <input type="number" />
        </div>
        <div>
          <label>Clave</label>
          <input type="password" />
        </div>
        <div>
          <button>Ingresar</button>
        </div>
      </form>

      <form *ngIf="!isRegisterMode">
        <!-- Formulario de Inicio de Sesión -->
        <div>
          <label>Tipo de documento</label>
          <select>
            <option>DNI</option>
            <option>C.I</option>
          </select>
        </div>
        <div>
          <label>Número de documento</label>
          <input type="number" />
        </div>
        <div>
          <label>Clave</label>
          <input type="password" />
        </div>
        <div>
          <button>Ingresar</button>
        </div>
      </form>

      <div>
        <i></i>
        <h2>Teclado virtual</h2>
      </div>

      <div>
        <p>
          {{
            isRegisterMode
              ? "¿Ya tienes cuenta? Logueate"
              : "¿No tienes cuenta? Regístrate"
          }}
          <a (click)="toggleMode()">aquí</a>
        </p>
      </div>
    </div>
  </div>
</div>
