<div class="div">
  <div class="div2">
    <h2 style="color: #505050">Bienvenidos a</h2>
    <h2 style="color: #262e65">Unicomer</h2>
  </div>
  <div class="div3">
    <div>
      <div style="margin: 3rem 0">
        <app-logo></app-logo>
      </div>
      <div>
        <form
          *ngIf="!isRegisterMode"
          (ngSubmit)="register()"
          [formGroup]="registerForm"
        >
          <!-- Formulario de Registro -->
          <div class="inputdiv">
            <label for="fullName">Nombre completo</label>
            <input
              type="text"
              id="fullName"
              name="fullName"
              formControlName="name"
            />
            <div
              *ngIf="
                registerForm.get('name')?.invalid &&
                (registerForm.get('name')?.dirty ||
                  registerForm.get('name')?.touched)
              "
            >
              <p class="error-message">
                El nombre debe tener al menos 6 caracteres y solo letras.
              </p>
            </div>
          </div>
          <div class="inputdiv">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              formControlName="email"
            />
            <div
              *ngIf="
                registerForm.get('email')?.invalid &&
                (registerForm.get('email')?.dirty ||
                  registerForm.get('email')?.touched)
              "
            >
              <p class="error-message">Ingresa un email válido.</p>
            </div>
          </div>
          <div>
            <label for="documentType">Tipo de documento</label>
            <select
              id="documentType"
              name="documentType"
              formControlName="documentType"
              style="margin: 1rem 0"
              class="custom-select"
            >
              <option value="dni">DNI</option>
              <option value="ci">C.I</option>
            </select>
          </div>
          <div class="inputdiv">
            <label for="documentNumber">Número de documento</label>
            <input
              type="number"
              id="documentNumber"
              name="documentNumber"
              formControlName="documentNumber"
            />
            <div
              *ngIf="
                registerForm.get('documentNumber')?.invalid &&
                (registerForm.get('documentNumber')?.dirty ||
                  registerForm.get('documentNumber')?.touched)
              "
            >
              <p class="error-message">Este campo es obligatorio.</p>
            </div>
          </div>
          <div class="inputdiv">
            <label for="password">Clave</label>
            <input
              type="password"
              id="password"
              name="password"
              formControlName="password"
            />
            <div
              *ngIf="
                registerForm.get('password')?.invalid &&
                (registerForm.get('password')?.dirty ||
                  registerForm.get('password')?.touched)
              "
            >
              <p class="error-message">
                Ingrese una contraseña valida.
              </p>
            </div>
          </div>
          <div style="margin-top: 1.3rem; margin-bottom: 1.3rem">
            <button
              type="submit"
              class="button"
              [disabled]="registerForm.invalid"
            >
              Registrarse
            </button>
          </div>
        </form>

        <form *ngIf="isRegisterMode" (ngSubmit)="login()">
          <!-- Formulario de Inicio de Sesión -->
          <div>
            <label for="loginDocumentType">Tipo de documento</label>
            <select
              id="loginDocumentType"
              name="loginDocumentType"
              [(ngModel)]="documentType"
              style="margin: 1rem 0"
              class="custom-select"
            >
              <option>DNI</option>
              <option>C.I</option>
            </select>
          </div>
          <div class="inputdiv">
            <label for="loginDocumentNumber">Número de documento</label>
            <input
              type="number"
              id="loginDocumentNumber"
              name="loginDocumentNumber"
              [(ngModel)]="documentNumber"
            />
          </div>
          <div class="inputdiv">
            <label for="loginPassword">Clave</label>
            <input
              type="password"
              id="loginPassword"
              name="loginPassword"
              [(ngModel)]="password"
            />
          </div>
          <div style="margin-top: 1.3rem; margin-bottom: 1.3rem">
            <button type="submit" class="button">Ingresar</button>
          </div>
        </form>

        <p class="pp">
          <img src="../../assets/teclado.png" class="imga" />
          Teclado virtual
        </p>
        <p style="margin: 3rem">
          {{
            isRegisterMode
              ? "¿No tienes cuenta? Regístrate"
              : "¿Ya tienes cuenta? Loguéate"
          }}
          <a (click)="toggleMode()" class="a">aquí</a>
        </p>
      </div>
    </div>
  </div>
</div>
