<!-- <div class="div sidebar" >
  <app-logo></app-logo>
  <div (click)="toggleMenu()"></div>>
    <ul class="ul">
      <li class="li" *ngFor="let option of menuOptions">
        <div>
          <img [routerLink]="option.route" [src]="option?.icon" class="img" />
        </div>
        <div class="div2">
          <a class="a" [routerLink]="option.route">{{ option.label }}</a>
        </div>
      </li>
    </ul>
  </div>
  <button class="close-button" (click)="toggleMenu()">✕</button>
</div> -->

<div class="hamburger" (click)="toggleMenu()">
  <div class="_layer -top"></div>
  <div class="_layer -mid"></div>
  <div class="_layer -bottom"></div>
</div>

<nav class="menuppal" [class.is_active]="menuVisible">
  <ul>
    <li class="li" *ngFor="let option of menuOptions" (click)="toggleMenu()">
      <div [routerLink]="option.route">
        <div >
          <img [src]="option?.icon" class="img" />
        </div>
        <div class="div2" [routerLink]="option.route">
          <a class="a" [routerLink]="option.route">{{ option.label }}</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
