.card {
  position: relative;
  height: 16rem;
  width: 25rem;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(255 255 255 / 25%);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1rem;
}

.titulo,
.monto,
.imagen {
  position: absolute;

}

.saldo,
.monto {
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.img {
  width: 3.3rem;
  border-radius: 100%;
}

.imagen {
  top: 1rem;
  left: 2rem;
}

.titulo {
  top: 1.3rem;
  left: 6rem;
  font-size: 0.8rem;
}

.monto {
  top: 2.5rem;
  left: 6rem;
  font-size: 1.3rem;
}
