h2,
p {
  margin: 0;
}

.inicio {
  margin:1rem;
}

.div {
  padding: 1rem
}

.divsInicio {
  display: flex;
  flex-wrap: wrap;
}

.homepanel {
  padding: 1rem;
}

@media (max-width: 390px) {
  .homepanel {
    padding: 0;
  }
}
