<div class="div">
  <app-nav></app-nav>
  <div class="homepanel">
    <h2 class="inicio">Inicio</h2>
    <div class="divsInicio">
      <div>
        <app-card></app-card>
      </div>
      <div>
        <app-ingresos></app-ingresos>
      </div>
      <div>
        <app-egresos></app-egresos>
      </div>
    </div>
    <div class="Balanceytransacciones">
      <app-balances style="width: 60%; margin: 0 1rem"></app-balances>
      <app-transaccions style="width: 40%"></app-transaccions>
    </div>
  </div>
</div>
