h2,
p {
  margin: 0;
}

.inicio {
  margin: 1rem;
}

.div {
  padding: 1rem
}

.divsInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Balanceytransacciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homepanel {
  padding: 1rem;
}

.appbalance {
  width: 60%;
  margin: 0 1rem
}
.apptransaccion{
  width: 40%;
}

@media (max-width: 390px) {
  .homepanel {
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .Balanceytransacciones {
    flex-direction: column;
  }

  .appbalance {
    width: 100%;
  }
  .apptransaccion{
    width: 100%;
  }

}
